@nav-height:60px;

body {
    background-color: #F0F0F0;
}

header {
    background-color: #EF6C00;
    padding:0px 30px;
    height:@nav-height;

    h1 {
        color: #FFF;
        margin:0px;
        font-weight:400;

        line-height:@nav-height;
    }

    a {
        color: #F0F0F0;
        text-decoration: none;
    }
}

.hide {
    display:none !important;
}

.job-item {
    padding:15px;
    text-align:justify;

    small {
        margin-left:15px;
    }

    .attributes {
        overflow:hidden;

        .is-remote, .is-full-time, .is-contract {
            overflow: hidden;
            float:left;
            margin-right:25px;

            img {
                float: left;
                height: 22px;
                margin-right:5px;
            }

            span {
                display: block;
                float: left;
                line-height: 26px;
            }
        }
    }
}