<template name="jobItem">
    <div class="job-item">
        <div class="attributes">
            <div class="is-remote">
				{{#if isRemote}}
                    <img src="/img/checkmark.png"/>
				{{else}}
                    <img src="/img/delete.png"/>
				{{/if}}
                <span>Remote</span>
            </div>

            <div class="is-full-time">
				{{#if isFullTime}}
                    <img src="/img/checkmark.png"/>
				{{else}}
                    <img src="/img/delete.png"/>
				{{/if}}
                <span>Full Time</span>
            </div>

            <div class="is-part-time">
				{{#if isPartTime}}
                    <img src="/img/checkmark.png"/>
				{{else}}
                    <img src="/img/delete.png"/>
				{{/if}}
                <span>Part Time</span>
            </div>

            <div class="is-contract">
				{{#if isContract}}
                    <img src="/img/checkmark.png"/>
				{{else}}
                    <img src="/img/delete.png"/>
				{{/if}}
                <span>Contract</span>
            </div>
        </div>

        <!--<h4>{{author}}
            <small>{{time}}</small>
        </h4>-->

		{{#if email}}
            <p>
                <span>Email: </span> {{email}}
            </p>
		{{/if}}

        <p>{{time}}</p>
        <h5 class="state">{{getStates}}</h5>

        <a id="toggle-post">
            <span>Show</span> Hacker News Post
        </a>

        <div class="raw-text">
            <p>{{{text}}}</p>
        </div>
    </div>

    <hr class="divider" />
</template>